<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Form</title>
</head>
<body>
<form action="/studinfo" method="post">
    <h1>
        This is Registration Process
    </h1>

    <label>Enter your Student ID</label>
        <input type="text" name="stuid"><br>


    <label>Enter your Student Name</label>
        <input type="text" name="name"><br>

    <label>Enter your EmailID</label>
        <input type="text" name="email"><br>

    <label>Enter your Mobile Number</label>
        <input type="text" name="mbno"><br>


    <label>Enter your Maths Marks</label>
    <input type="text" name="mtmarks"><br>

    <label>Enter your Science Marks</label>
    <input type="text" name="scmarks"><br>

    <label>Enter your Computer Marks</label>
    <input type="text" name="csmarks"><br>

    <input type="submit" name="register">

</form>
</body>
</html>