{% extends 'base.html' %}
{% block title %} AddStudents {% endblock title %}
{% block body %}
    <div class="container my-3">
        <h2>Add Students</h2><br>
    <form action="/admin" method="POST">
      <div class="mb-3">
      <label>Enter your Student ID</label>
        <input type="text"  name="stuid" required><br>
      </div>

<div class="mb-3">
    <label>Enter Student Name</label>
        <input type="text" name="name" required><br>
</div>

      <div class="mb-3">
    <label>Enter EmailID</label>
        <input type="text" name="email" required><br>
      </div>
      <div class="mb-3">

    <label>Enter Mobile Number</label>
        <input type="text" name="mbno" required><br>
      </div>
      <div class="mb-3">

    <label>Enter Maths Marks</label>
    <input type="text" name="mtmarks" required><br>
      </div>
      <div class="mb-3">
    <label>Enter Science Marks</label>
    <input type="text" name="scmarks" required><br>
      </div>
      <div class="mb-3">
    <label>Enter Computer Marks</label>
    <input type="text" name="csmarks" required><br>
      </div>

    <input type="submit" class="btn btn-outline-dark" name="register">

    </form>
    </div>


    <div class="container my-3">
     <h3> Details </h3>

  {% if alldata|length==0 %}
   <div class="alert alert-dark" role="alert">
  No Record....Please Add Students Information
   </div>
  {% else %}
        <table class="table">
  <thead>
    <tr>
      <th scope="col">SNo</th>
      <th scope="col">Roll No.</th>
      <th scope="col">Name</th>
      <th scope="col">Email ID</th>
        <th scope="col">Contact</th>
        <th scope="col">Math Marks</th>
        <th scope="col">Science Marks</th>
        <th scope="col">Computer Marks</th>
        <th scope="col">Actions</th>
    </tr>
  </thead>

  {% for stu in alldata %}
  <tr>
      <th scope="row">{{loop.index}}</th>
      <td>{{stu.stuid}}</td>
      <td>{{stu.name}}</td>
      <td>{{stu.email}}</td>
      <td>{{stu.mbno}}</td>
      <td>{{stu.mtmarks}}</td>
      <td>{{stu.scmarks}}</td>
      <td>{{stu.csmarks}}</td>
      <td>
          <a href="/update/{{stu.stuid}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Update</button>
          <a href="/delete/{{stu.stuid}}" type="button" class="btn btn-outline-dark btn-sm mx-1">Delete</button>
      </td>
    </tr>

{% endfor %}

  </tbody>

</table>
  {% endif %}
    </div>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
 {% endblock body %}